<p>
  <strong>Text:</strong>
  <%= @imprint.text %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @imprint.lng %>
</p>
 
<p>
  <strong>Lat:</strong>
  <%= @imprint.lat %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @imprint.accuracy %>
</p>

